body {
    font-family: 'Roboto', sans-serif;
    background-color: #14274E;
}

.container-fluid{
    padding: 2% 15%;
    padding-bottom: 14%;
}

/* general typography */

h1 {
    font-family: 'Playfair Display', serif;
    color: #F1F6F9;
    font-weight: 700;
    font-size: 80px;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: #E58275;
    font-weight: 700;
    font-size: 40px;
}
h3 {
    font-family: 'Playfair Display', serif;
    color: #F1F6F9;
    font-weight: 500;
    font-size: 32px;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #9BA4B4;
}

/* bootstrap */

.col-lg-6 {
    margin: auto;
}

.btn:hover, .btn:focus {
    background-color: #9BA4B4;
}
/* nav bar  */
.navbar {
    padding: 0 0 8rem 0;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    color: #E58275;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Playfair Display', serif;
    color: #F1F6F9;
}

/* title section */

.title-info {
    margin-top: 2.5rem;
}

.title-image {
    width: 100%;
}

/* experience section */
#experience {
    padding: 2% 15% 6% 15%;
}

.child-info {
    margin: 5% 0 0 0;

}
.experience-image {
    width: 85%;
}

.company-name {
    font-size: 24px;
}

.company-info {
    font-size: 16px;
}

/* skills */
.skill-image {
    padding-right: 1rem;
}
.skill-name {
    color: #9BA4B4;
}

/* contact */
#contact {
    padding: 0% 15% 2% 15%;
}

.contact-left {
    padding: 2rem 0
}
.contact-title {
    font-size: 80px;
    padding-bottom: 2rem;
}

.contact-text {
    font-size: 22px;
}

.contact-button {
    background-color: #E58275;
    border-radius:22.5rem;
    width: 15rem;
    height: 4rem;
    margin-top: 1.5rem;
}
.button-text {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #F1F6F9;
    text-align: center;
    line-height: 35px;
}
.contact-row {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.contact-right {
    text-align: center;
}

.contact-icons {
    width: 2rem;
    height: 2rem;
    margin: 1.5rem 3rem 3rem 3rem;
}

/* not working --fix
.contact-icons:hover, .contact-icons:focus {
    fill: #E58275;
} */


/* footer */
#footer {
    padding: 3% 15% 3% 15%;
    text-align: center;
}

.footer-text {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    color: #E58275;
    margin: 0;
}
.footer-email {
    font-family: 'Playfair Display', serif;
    font-size: .8rem;
    color: #9BA4B4;
    margin: 0;
}